[submodule "OS/mirage"]
	path = OS/mirage
	url = https://github.com/Sh0g0-1758/mirage.git
[submodule "Compiler/scarlet"]
	path = Compiler/scarlet
	url = https://github.com/Sh0g0-1758/scarlet.git
[submodule "Assembler/SIC-XE-Assembler"]
	path = Assembler/SIC-XE-Assembler
	url = https://github.com/Sh0g0-1758/SIC-XE-Assembler.git
[submodule "VirtualMachine/RISCV-VM"]
	path = VirtualMachine/RISCV-VM
	url = https://github.com/Sh0g0-1758/RISCV-Instruction-simulator.git
